html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* font-family: 'Common Pixel', sans-serif; */
  font-family: 'SpaceType', sans-serif;
                                                
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 100px 0px;
  }
}

body {
  background: repeating-linear-gradient(
  60deg,
  #606dbc,
  #465298 60%);

  background-size: 100px 100px;
  animation: move-it 4s linear infinite;
}

.flex {
  display: flex;
  flex-direction: column;
}

.pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-card {
  background-color: rgb(255, 84, 84);
  border: rgb(168, 37, 37) 4px solid;
  border-radius: 10px 0px 10px 0px;
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.icon-card {
  border-radius: 10px 0px 00px 0px;
  width: 80px;
}

.data-card {
  border-radius: 0px 0px 10px 0px;
  background-color: rgb(255, 84, 84);
  border: rgb(168, 37, 37) 3px solid;
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 2px;
}

.id {
  color: antiquewhite;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: rgb(168, 37, 37);
}

.name {
  color: antiquewhite;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.sprite {
  width: 40%;
  image-rendering: pixelated;
}

.back-button {
  position: fixed;
  margin-top: 12px;
  margin-left: 7px;
  
  border-radius: 0px 0px 10px 0px;
  background-color: rgb(255, 84, 84);
  border: rgb(168, 37, 37) 3px solid;
}

.wide {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  height: 100%;
  overflow-y: hidden;
}

.height-limit {
  overflow-y: hidden;
  height: 100vh;
}

.transparent-div {
  background-color: rgba(91, 168, 223, 0.5);
  
}
.white-div {
  background-color: rgb(223, 223, 223);
}
.black-div {
  background-color: rgb(53, 53, 53);
  color: rgb(222, 25, 25);
}
.red-div {
  background-color: rgb(222, 25, 25);
  flex: 3 0 auto;
  height: 800px;
}

.type-card {
  border: #000 outset 2px;
  border-radius: 30px;
  height: 20px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grass {
  background-color: rgb(54, 168, 54);
}

.poison {
  background-color: rgb(98, 54, 168);
}

.fire {
  background-color: rgb(224, 60, 51);
}

.flying {
  background-color: rgb(88, 160, 196);
}

.water {
  background-color: rgb(58, 149, 214);
}

.bug {
  background-color: rgb(157, 214, 58);
}

.electric {
  background-color: rgb(211, 214, 58);
}

.ground {
  background-color: rgb(214, 118, 58);
}

.rock {
  background-color: rgb(171, 79, 37);
}

.psychic {
  background-color: rgb(168, 54, 160);
}

.fighting {
  background-color: rgb(113, 23, 23);
}

.ice {
  background-color: rgb(159, 255, 233);
}

.ghost {
  background-color: rgb(115, 78, 219);
}

.steel {
  background-color: rgb(178, 178, 178);
}

.dragon {
  background-color: rgb(154, 118, 255);
}

.dark {
  background-color: rgb(37, 22, 19);
}

.fairy {
  background-color: rgb(255, 131, 236);
}

